@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #161616;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: linear-gradient(45deg, var(--background) 0%, #101010 100%);
}
